*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
env
parts
bin
var
sdist
develop-eggs
lib
lib64
local_settings*.py

# Installer logs
pip-log.txt

# Unit test / coverage reports
nosetests.xml

.*
!.gitignore
