{% extends "layout/layout.html" %}

{% block content %}
    <script type="text/javascript">
        var SOCKET_URL = "{{ socket_url }}";
        var SPACE_RADIUS = {{ settings.SPACE_RADIUS }};
        var USER_INFO = {
            {% for field, value in uinfo.items() %}
                {{ field }}: "{{ value }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        };
    </script>
    <div id="display">
        {% include "game_canvas.html" %}
    </div>
    {% block game_content %}
    {% endblock %}
{% endblock %}