<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

<meta charset="UTF-8">

<meta name="keywords" content="HTML5, CSS, JavaScript, Twisted, Flask, Python, Web Game">
<meta name="description" content="Opensource web game writed with using Twisted, Flask, Websockets and othe modern technologies">

<meta name="application-name" content="The King Of Space">
<meta name="author" content="Vladislav A. Lozhechnik">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    {% for variable, value in config.JS.iteritems() %}
        var {{ variable }} = {{ value|safe }};
    {% endfor %}
</script>
