<!doctype html>
<html>
    <head>
        <title>{% block title %}Some page{% endblock %} - Space King</title>
        {% include "layout/head.html" %}
    </head>
    <body>
        <div id="menuID">{% include "layout/menu.html" %}</div>
        <div id="contentID">
            {% block content %}
                Some content will be here
            {% endblock %}
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dispatcher.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ship.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/display.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/space_king.js') }}"></script>
    </body>
</html>